@section title{
    <title>Liste des Demandes</title>
}

<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-windows"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Liste des demandes</h2>
                                    <p>Liste des demandes de creation de comptes</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcomb area End-->
<!-- Data Table area Start-->
<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>Date de Naissance</th>
                                    <th>Email</th>
                                    <th>Date de demande</th>
                                    <th>Statut</th>
                                </tr>
                            </thead>
                           <tbody>
                            @foreach(Demande demande in Model){
                                    <tr>
                                        <th>@demande.Image</th>
                                        <th>@demande.Nom</th>
                                        <th>@demande.Prenom</th>
                                        <th>@demande.Date_De_Naissance</th>
                                        <th>@demande.Email</th>
                                        <th>@demande.Date_Demande</th>
                                        <th>@demande.Statut</th>
                                    </tr>
                            }
                           </tbody>
                            <tfoot>
                                <tr>
                                    <th>Image</th>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>Date de Naissance</th>
                                    <th>Email</th>
                                    <th>Date de demande</th>
                                    <th>Statut</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>