
@section title{
    <title>Home Page</title>
}
@model Fallah_App.Service.Meteo
<head>
        <script src="~/js/charts/Chart.js"></script>

    <link rel="stylesheet" href="~/icons/css/weather-icons.min.css" />

</head>
    <div class="breadcomb-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcomb-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="breadcomb-wp">
                                    <div class="breadcomb-icon">
                                        <i class="notika-icon notika-windows"></i>
                                    </div>
                                    <div class="breadcomb-ctn">
                                        <h2>Meteo</h2>
                                        <p>Les donnes des Meteo de la semaines</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="visitor-sv-tm-area">
        <div class="container">
            <div class="row">
               
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="visitor-sv-tm-int">
                       <div class="accordion-stn sm-res-mg-t-30">
                                      
                                    <div class="panel-group" data-collapse-color="nk-blue" id="accordionBlue" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-collapse notika-accrodion-cus">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordionBlue" href="#accordionBlue-one" aria-expanded="true">
												        @Model.daily.time[1]
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="accordionBlue-one" class="collapse animated flipInX in" role="tabpanel">
                                                <div class="panel-body">
                                            <p id="chart3"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-collapse notika-accrodion-cus">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionBlue" href="#accordionBlue-two" aria-expanded="false">
                                                @Model.daily.time[2]
                                            </a>
                                                </h4>
                                            </div>
                                            <div id="accordionBlue-two" class="collapse animated flipInX" role="tabpanel">
                                                <div class="panel-body">
                                            <p id="chart2"></p>
                                        </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-collapse notika-accrodion-cus">
                                            <div class="panel-heading" role="tab">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionBlue" href="#accordionBlue-three" aria-expanded="false">
                                                @Model.daily.time[3]
                                            </a>
                                                </h4>
                                            </div>
                                            <div id="accordionBlue-three" class="collapse animated flipInX" role="tabpanel">
                                                <div class="panel-body">
                                            <p>swdsdcsc</p>
                                        </div>
                                            </div>
                                        </div>
                                <div class="panel panel-collapse notika-accrodion-cus">
                                    <div class="panel-heading" role="tab">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionBlue" href="#accordionBlue-four" aria-expanded="false">
                                                @Model.daily.time[4]
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="accordionBlue-four" class="collapse animated flipInX" role="tabpanel">
                                        <div class="panel-body">
                                            <p>swdsdcsc</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-collapse notika-accrodion-cus">
                                    <div class="panel-heading" role="tab">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionBlue" href="#accordionBlue-five" aria-expanded="false">
                                                @Model.daily.time[5]
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="accordionBlue-five" class="collapse animated flipInX" role="tabpanel">
                                        <div class="panel-body">
                                            <p>swdsdcsc</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-collapse notika-accrodion-cus">
                                    <div class="panel-heading" role="tab">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionBlue" href="#accordionBlue-six" aria-expanded="false">
												        @Model.daily.time[6]
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="accordionBlue-six" class="collapse animated flipInX" role="tabpanel">
                                        <div class="panel-body">
                                            <p>swdsdcsc</p>
                                        </div>
                                    </div>
                                </div>
                                    </div>
                                </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="visitor-sv-tm-int sm-res-mg-t-30">
                        <canvas height="140vh" width="180vw" id="areachartfalse"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <script>
        var ctx = document.getElementById("areachartfalse");
        var areachartfalse = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [
                @foreach (DateTime time in ViewBag.hour)
                {
                    @:'@time.ToString("H:mm")',
                }
                ],
                datasets: [{
                label: "Temperature en °C",
                    fill: false,
                    backgroundColor: '#00c292',
                    borderColor: '#00c292',
                    data: [
                    @foreach (var temp in ViewBag.temp)
                    {
                        @: @temp,
                    }
                    ]
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                spanGaps: false,
                title: {
                    display: true,
                text: "Temperature d'Aujourd'hui "

                    },
                elements: {
                    line: {
                        tension: 0.000001
                    }
                },
                plugins: {
                    filler: {
                        propagate: false
                    }
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            autoSkip: false,
                            maxRotation: 0
                        }
                    }]
                }
            }
        });
   </script>